.hero {
    height: calc(100vh - 6.25rem);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;
    
}
.wrapper {
    max-width: 85.375rem;
    height: 100%;
    margin: auto;
   
}
.text-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}
.ScrollImg {
    width: 3.125rem;
}
h2{
    font-size: 1.875rem;
    color: rebeccapurple;
    letter-spacing: .625rem;
}
h1{
    font-size: 5.5rem;
}
.buttons button{
    padding: 1.25rem;
    border: 1px solid white;
    border-radius: .625rem;
    background-color: transparent;
    color: white;
    margin-right: 1.25rem;
    font-weight: 300;
    cursor: pointer;
    
}



.ImageContainer {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0; 
}

.SlidingTextcontainer {
    position: absolute;
    font-size: 50vh;
    bottom: -7.5rem;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
}