html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    scroll-behavior: smooth;
  
  }
  body {
    background-color: #0c0c1d;
    color: lightgray;
    cursor: default;
    
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  
  section {
    height: 100vh;
    scroll-snap-align: center;
  }
  button {
    cursor: pointer;
  }